<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>121</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>121</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>center</key>
	<dict/>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>115</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>116</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>119</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>previousDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>115</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>119</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>116</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
</dict>
</plist>
